<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
  <test name="InWarrenty Flow Test">
    <classes>
       <class name="com.api.test.LoginAPITest"/>
       <class name="com.api.test.UserDetailsAPITest"/>
      <class name="com.api.test.CountAPITest"/>
      <class name="com.api.test.UserDetailsAPITest"/>
    </classes>
  </test>
</suite>